<!DOCTYPE html>
<html>
<head>
    <title>Thank You Page</title>
    <link rel='stylesheet' type = 'text/css' href='stylesheets/style.css'/>
</head>
<body>

    <div class='instructions'>
        <p>
            Thank You
        </p>
    </div>
    <form action = "mailer" method = "post">
        <div>
            <button type="submit">Go Back</button>
        </div>
    </form>

</body>
</html>