<!DOCTYPE html>
<html>
<head>
    <title>Thank You Page</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <style>
        body{
            background-color: linen;
        }
    </style>
</head>
<body>
    <div class="container">
    <div class="page-header">
        <h1>Thank You!</h1>
    </div>
    <form action = "contacts" method = "get">
        <div>
            <button type="submit" class="btn">Contacts</button>
        </div>
        <p></p>
    </form>

    <form action = "mailer" method = "post">
        <div>
            <button type="submit"  class="btn">Enter Another Contact</button>
        </div>
    </form>
    </div>

</body>
</html>